#ms-designer-ribbon,
#ms-designer-ribbon *,
[class*=ms-] {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
}

.page-image img {
	width: 100%
}

.ms-promlink-button { padding:0 }

.dbs-news .ms-webpart-chrome-title { background-color:  #538c3f; }
	
.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a {	
	color: #fff;
	padding: 2px 8px; 
}

.cbs-picture3LinesContainer { padding-bottom: 5px }

.cbs-pictureOnTopDataContainer, .cbs-pictureOnTopDataContainer > div, .cbs-picture3LinesDataContainer > div {
	padding-top: 0
}

.cbs-picture3LinesImageContainer {
	height: auto;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.cbs-picture3LinesImageContainer img {
	width: 100%;
}

.cbs-picture3LinesDataContainer {
	padding-left: 5px;
	margin-left: 0;
}


.social-links img {
	width: 90%;
	margin: 5px auto;
}

.sidebar {
	border: thin #C0C0C0 solid;
}
