.nav-tiles-display, .branch-new-hires {
	padding: 0 15px;
}

.our-nav-tile:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.our-nav-block {
	position: absolute;
	top: 4%;
	left: 4%;
	bottom: 4%;
	right: 4%;
}

.our-nav-content {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	margin: auto;
}

.our-nav-icon {
	position: relative;
	display: block;
	height: 45%;
	width: 45%;
	margin: 10px auto;
	padding-top: 10px;
}
.our-nav-icon img {
	position: relative;
	display: block;
	max-height: 100%;
	margin: 0 auto;
}
.our-nav-title h2 {
	margin: auto;
	padding: 5px;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
}

/************** EDIT PANEL STYLES *****************/

#available-tiles, #selected-tiles {
	border: 1px solid #000;
	min-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 5px;
	margin-right: 10px;
}
.button-items {
	border: 3px solid #e5e5e5;
	padding: 5px;
}
.button-items submit {
	color: #000;
}
.button-items:hover {
	cursor: move;
}
#selection-submit {
	border: thin #538c3f solid;
	background-color: rgb(182,209,133);
	padding: 10px;
	margin: 10px auto;
	width: 40%;
}
#selection-submit:hover{
	cursor: pointer;
	background-color: rgb(255,255,255);
}
#selection-submit h2 {
	margin: 0 auto;
	text-align: center; 
}
